*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color:lightblue;
    border: 2px solid black;
    border-radius: 20px;
}
.container h1{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 4rem;
    color: blue;
    text-shadow: 2px 3px rgb(255, 255, 255);
}
.container input{
    width: 80%;
    height: 40px;
    background: none;
    padding-left: 10px;
    margin-left:40px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    box-shadow: 0px 2px;
}
.container input::placeholder{
    color: black;
    font-size: 1rem;
    padding: 12px;

}
#btn{
    width: 70%;
    margin-left: 50px;
    background-color: rgb(27, 27, 96);
    color: white;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px black;
}
#popup{
    display: none;
    width: 300px;
    height: 400px;
     border: 4px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    background:rgb(52, 170, 203);

}
#invalid{
   display: none;
    width: 300px;
    height: 300px;
    position: fixed;
    box-sizing:border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(52, 170, 203);
    border: 4px solid black;

}
#para{
    margin: 40px;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
